body {
font-family:'Arial',serif
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

.container {
max-width:960px
}

#masthead {
background:#135c8d;
padding-top:10px
}

#masthead ul li {
border-right:1px solid #9dc3e6
}

#masthead ul li:last-child {
border-right:0
}

#masthead ul li a {
color:#9dc3e6;
padding-right:5px;
font-size:12px
}

#header {
background:#135c8d
}

#header p {
color:#fff
}

#header h1 {
color:#fff
}

#header h1 a {
color:#fff
}

#header h2,#header h3,#header h4 {
color:#fff;
margin-bottom:0
}

#header .logo {
margin-top:0
}

.navbar-default {
background:#00436f;
border:0;
border-radius:0;
margin-bottom:0
}

.navbar-default .navbar-nav>li>a {
color:#fff;
padding-left:60px;
padding-right:60px;
font-size:16px;
font-family:'PT Sans',sans-serif
}

.navbar-default .navbar-nav li:first-child a {
padding-left:0
}

.navbar-default .navbar-nav li:last-child a {
padding-right:0
}

.navbar-default .navbar-nav>li>a:hover {
color:#9dc3e6
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover {
background-color:transparent;
color:#9dc3e6
}

@media (max-width: 992px) {
.navbar-default .navbar-nav>li>a {
padding-left:20px;
padding-right:20px
}

.navbar-default .navbar-nav li:first-child a {
padding-left:20px
}

.navbar-default .navbar-nav li:last-child a {
padding-right:20px
}
}

#hero-area {
background:#deebf7
}

#banner {
padding-top:30px;
padding-bottom:20px
}

#banner .btn-custom1 {
padding-top:15px;
padding-bottom:15px;
height:auto;
font-size:16px
}

.blog--entries {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.first-col {
  border-right: 1px solid #eee;
}